.home {
    background-color: #292c31;
    color: #249159;
}

header {
    background-color: #0365c0;
    color: #fff;
    padding: 50px 0;
}

.navi {
    background-color: #00af50;
    color: #fff;
    padding: 200px 0;
}

.content {
    background-color: #418c75;
    color: #fff;
    padding: 200px 0;
}

footer {
    background-color: #012060;
    color: #fff;
    padding: 60px 0;
}